body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f1de;
    color: #e07a5f;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Bold font */
}

h1, h2 {
    color: #3d405b;
}

button {
    background-color: #a38b48;
    color: #f4f1de;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3d405b;
}

.correct {
    background-color: #2a9d8f;
}

.incorrect {
    background-color: #e76f51;
}

#result-page {
    text-align: center;
}

#winner-variant, #losing-variant {
    color: #2a9d8f;
}

#mobile-number {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #3d405b;
    font-size: 12px;
}

#submit-number:disabled {
    background-color: #a38b48;
    color: #f4f1de;
    cursor: not-allowed;
}

@media (max-width: 800px) 
{
    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: #f4f1de;
        color: #e07a5f;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-size: 18px; /* Larger font size */
        font-weight: bold; /* Bold font */
    }
}
